{% extends 'base.html' %}

{% block content %}
    <div class="px-4 py-5 my-5 text-center">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Original URL</th>
                    <th scope="col">Shortened URL</th>
                    <th scope="col"># of visits</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for link in links %}
                    <tr>
                        <td>{{ link.original_link }}</td>
                        <td><a href="{{ link.short_link }}">{{ link.short_link }}</a></td>
                        <td>{{ link.visit_count }}</td>
                        <td>
                            <form action="{% url 'delete' link.id %}" method="post">
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>



{% endblock %}
